
a{
    color: #5bc0de;
    text-decoration: none;
}

body{
  font-family: Montserrat
  color:gray;
  margin:3%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Montserrat;
  font-weight: bold}

label{
    font-weight: light;
    font-size: 0.8rem;
}

p{
    color: #BCB3B6;
    font-size: 0.7rem;
    margin: 0px;
}

.colored-section{
    color : white;
    background-color: #ff4c68;
    padding: 1% 0% 1%;
}


.list{
    padding: 2% 2%;
}

.navbar navbar-expand-lg{
    color:white;
}

.scale-element:hover{
  transform: scale(1.5);
}

 .alert-text {
    margin
    display: flex;
    justify-content: flex;
    align-items: flex-end;
 }

.centered {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

input{
    margin:3px;
}

.color{
    font-weight: bold;
    color: #3E92CC;
}

.bdr {
  border-radius: 10px;
  overflow: hidden;
}

.container{
    margin: 0px, 0px;
}

.row{
    margin: 0px, 0px;
}

.scale:hover{
    transform: scale(1.5);
    font-size: 110%;
}

.fade-out {
    opacity: 1;
    transition: opacity 2s ease-in-out; /* Adjust the duration as needed */
}

.fade-out.hidden {
    opacity: 0;
}

.hoverblue:hover{
    color: blue;
}

@media (min-width : 100px)  {
    .container th, .container td {
        font-size: 0.75rem;
      }
    a{
    font-size: 0.9rem;
    }
}

@media (min-width : 1000px) {
  .container th, .container td {
    font-size: 1rem;
  }
  a{
      font-size: 1rem;
  }
}





